/*formulario*/
.botaoFormulario{
    width: 30%;
    border: 1;
    background-color: rgb(11, 145, 11);
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.formulario{

    text-align: center;
    width: 30%;
    background-color: rgba(0, 255, 255, 0.4);
    border: 3px solid rgb(115, 196, 189);

}
/*Menu*/
header{
    display: flex;
    background-color:white;
    justify-content: space-around;
}
.Logo{
    align-items: flex-start;
    justify-content: center;

}
nav{
    display: flex;
    justify-content: space-around;
}
.opcoesMenu{
    display: flex;
    align-items: center;

    justify-content: space-around;
}
.opcoesMenu p {
    margin: 0 30px;
    font-size: 20px;
}

body{
    /*fundo do menu*/
    background-image: url(Parque-Nacional-da-Serra-dos-Orgaos.webp);

}
