.quadro{
    display: flex;
    margin-top: 50px;
    height: 520px;
    width: 520px;
    background-color: rgba(255, 255, 255, 0.656);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.texto{
    justify-content: center;
    height: 470px;
    width: 470px;
    align-items: center;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.942);
    padding: 10px;
}
.titulo{
    color: white;
    font-family:"Bebas Neue", sans-serif;
    margin: 50px;
    text-align: center;
    justify-content: flex-start;
    height: 50px;
    font-size: 50px;
}
.carrosselMenu{
    margin-top: 150px;
    background-color: white;
    height: 10px;
    width: 10px;
    align-items: center;
    justify-content: center;
}