
body{
    background-image: url(../midias/background.webp);
}
.quadro{
    display: flex;
    margin-top: 50px;
    height: 520px;
    width: 520px;
    background-color: rgba(255, 255, 255, 0.656);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.texto{
    justify-content: center;
    height: 470px;
    width: 470px;
    align-items: center;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.942);
    padding: 10px;
    transition: 0.2s ease;
}