
.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.texto{
    margin: 50px 0;
    justify-content: center;
    min-height: 565px;
    width: 670px;
    align-items: center;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.801);
    padding: 35px 40px 60px 40px;
    transition: 0.2s ease;
}
body{
    background-image: url(../Midias/Fundo.webp);
}
