header{
    display: flex;
    background-color:white;
    justify-content: space-around;
}
.Logo{
    align-items: flex-start;
    justify-content: center;

}
nav{
    display: flex;
    justify-content: space-around;
}
.opcoesMenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.opcoesMenu p {
    margin: 0 30px;
    font-size: 20px;
}
body{
    background-image: url(midias/Parque-Nacional-da-Serra-dos-Orgaos.webp);
}
