.quadro{
    display: flex;
    margin-top: 2.5rem;
    height: 32.5rem;
    width: 32.5rem;
    background-color: rgba(255, 255, 255, 0.656);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0.438rem 0.313rem 0.313rem 0.313rem  rgba(0, 0, 0, 0.5);
    margin-bottom: 1.25rem;
}
.quadro img{
    display: flex;
    margin-top: 2.5rem;
    height: 30.9rem;
    width: 30.9rem;
    background-color: rgba(255, 255, 255, 0.656);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1.25rem;
    transition: 0.2s ease;
}
img:hover{
    transform: scale(1.07);
    transition: 0.2s;
}
.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.texto{
    justify-content: center;
    height: 29.375rem;
    width: 29.375rem;
    align-items: center;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.942);
    padding: 0.625rem;
    transition: 0.2s ease;
}
/*p e h3*/
.texto p,h3{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-start;
    margin-left: 0.313rem;
    font-size: 1.5rem;
}
h3{
    font-size: 1.75rem;
}
p::first-letter{
    font-size: 2.188rem;
}
.texto:hover{
        transform: scale(1.07);
        transition: 0.2s;
}
body{
    background-image: url(../Midias/Fundo.webp);
}

