.quadro{
    display: flex;
    margin-top: 50px;
    height: 530px;
    width: 530px;
    background-color: rgba(255, 255, 255, 0.656);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.texto{
    justify-content: center;
    height: 480px;
    width: 480px;
    align-items: center;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.942);
    padding: 5px;
    transition: 0.2s ease;
}
.texto dd,dl,h3{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-right: 7px;
}
.texto dl,dd{
    font-size: 17px;
}
.texto h3{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.texto:hover{
    transform: scale(1.08);
    transition: 0.2s;
}
body{
    background-image: url(../Midias/Fundo.webp);
}


